/*.rouge{
    /*on fait jamais ça*/
    /*height:400px;
    /* mettre une hauteur fixe en BS*/
  /*  background-color: red;
}*/

/*.bleu{
    height:800px;
    background-color: blue;
}*/
/*
.vert{
    height:400px;
    background-color: green;
}

.jaune{
    height:400px;
    background-color: yellow;
} */
/*.bg{
    background-image: url("../img/th (10).jfif");
    Background-size: cover;
    Background-repeat: no-repeat;
    height: 750px;
*/

/*.bbc{
    background-image: url("../img/th (1).jfif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

/*.hax{
    background-image: url("../img/th (5).jfif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}*/

/*.jazz{
    background-image: url("../img/jazz.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}*/

/*.winwhowould{
    background-image: url("../img/th (11).jfif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
*/

/*.sc1{
    background-image: url("../img/star-citizen-over.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.sc2{
    background-image: url("../img/genesis-starliner-2560x1440-spaceship-star-citizen-6553.jpg");
    background-size: Cover;
    background-repeat: no-repeat;
    height: 800px;
}

.darkgris{
    background-color: darkgrey;
    height: 800px;
}
.sc3{
    background-image: url("../img/Star-Citizen-Lightspeed-Buccaneer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.sc4{
    background-image: url("../img/b285e3ebafd72ba68b0e5f2554eb74a0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.sc5{
    background-image: url("../img/wallpaper_star_citizen_07.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.sc6{
    background-image: url("../img/wallpaper_star_citizen_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.sc7{
    background-image: url("../img/19425.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.sc8{
    background-image: url("../img/wallpaper_star_citizen_17.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}*/
/*body{
    background-color: blue;
    height: 2000px
}*/
























