.bg1{
    background-image: url("img/background/blanc.jpg");
}
#blanc{
    height: 45px;
    width: 45px;
}
#bleu{
    height: 45px;
    width: 45px;
}
#bleuFonce{
    height: 45px;
    width: 45px;
}
#gris{
    height: 45px;
    width: 45px;
}
#noir{
    height: 45px;
    width: 45px;
}
#rose{
    height: 45px;
    width: 45px;
}
#rouge{
    height: 45px;
    width: 45px;
}
.lettre{
    height: 175px;
    width: 125px;

}