/* Style the video: 100% width and height to cover the entire window */
#HighlightPlayoffs {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
html,body{
    height: 100%;
    margin: 0;
}
header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
.PKG{
    background-image: url("img/poster-kawhi-over-giannis.jpg ");
    height: 100%;
}
.parallax {
    /* L’image du Parallax */
    background-image: url("img/steph-curry-computer-background-256-263-hd-wallpapers.jpg");

    /* L’hauteur du Parallax */
    min-height: 500px;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.biggy{
    font-size: 4rem;
}
.bgOpaque{
    background-color: rgba(255,255,0,.75);
}
.bgOpaque2Knicks{
    background-color: #0062cc;
}
.bgOpaqueNuggets{
    background-color: #e0a800;
}
.bgOpaqueRapt{
    background-color: #dc3545;
}
.celtics{
    background-image:url("img/Champs_68_69.jpg");
    height: 100%;
}
.RJ {
    background-image: url("img/RJBAAAAARRERERERERER.jpg");
    height: 100%;
    background-repeat: no-repeat;
}
.JM {
    background-image: url("img/GettyImages-926938280.jpg");
    min-height: 900px;
    background-repeat: no-repeat;
}
.CB {
    background-image: url("img/boucher.jpg");
    min-height: 1000px;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 480px){
.biggy{
    font-size: 1.3rem;
}
.column{
    width: 100%;
}
}
/* TABLETTES */
@media screen and (min-width: 481px) and (max-width: 1199px) {
.hidden{
    display: none;
}
}
.bgblack{
    background-color: black;
}

